.form-group > *{
  display: block;
  text-align: left;
}
.form-group label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.form-group > input{
  padding: 10px 15px;
}
.StudentForm .form-group{
  margin-right: 15px;
}
.StudentForm .form-group:last-child{
  margin-right: 0px;
}